<div class="container" style="margin-left: -15px;">
    <div class="row ">
        <div class="col-3" style="font-weight: bold;">Producto</div>
        <div class="col-2" style="font-weight: bold;">Precio</div>
        <div class="col-3" style="font-weight: bold;">Cantidad</div>
        <div class="col-3" style="font-weight: bold;">Total</div>

    </div>
    @for (item of items;track $index) {
        <div [ngClass]="{'bg-white': $index % 2 === 0, 'bg-custom-light': $index % 2 !== 0}" class="row py-1">
        <div class="col-3">{{item.product.name}} {{item.product.medida}}</div>
        <div class="col-2">${{formatPrice(item.product.price)}}</div>
        <div class="col-3">
            <div class="btn-group btn-group-sm">
                <input type="number" class="form-control mx-1" [(ngModel)]="item.quantity"
                   (ngModelChange)="addCart(item.product.id, $event)"
                   min="1" required
                   style="width: 75px; text-align: center;">
            </div>
        </div>
        <div class="col-3">${{formatPrice(item.product.price * item.quantity)}}</div>
        <div class="col-1">
            <button class="btn btn-danger btn-sm" (click)="deleteCart(item.product.id)" style="margin-left: 10px;">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        </div>
    }
    <div class="row">
        <td colspan="4" class="text-start fw-bold align-middle" style="font-weight: bold;">Total</td>
        <td colspan="1" class="text-start fw-bold align-middle">${{formatPrice(total)}} CLP</td>
    </div>
</div>
