<div style="text-align: left;">
    <div class="row m-4" style="margin-top: 20px;">
        <div class="col-6 d-flex flex-column">
            <h3 style="color: white;">Contáctanos</h3>
            <p style="color: white; margin-top: 10px;">
                <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i> +56967453739
            </p>
            <p class="text-wrap" style="color: white; word-wrap: break-word; overflow-wrap: break-word;">
                <i class="fa-regular fa-envelope" style="color: #ffffff;"></i> maderaslawal&#64;hotmail.com
            </p>
            
        </div>
        <div class="col-6 d-flex flex-column">
            <h3 style="color: white;">Información</h3>
            <p style="color: white; margin-top: 10px;">
                Nosotros
            </p>
            <p style="color: white;">
                <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i> Avenida Gabriela Mistral 967, Puerto Montt.
            </p>
            <p style="color: white;">
                <i class="fa-regular fa-clock" style="color: #ffffff;"></i> Lun a Vie 8:30 a 18:00hrs. Sáb 8:30 a 13:30hrs.
            </p>
        </div>
    </div>
</div>
