<footer class="bg-dark text-white text-center  mt-auto">
    <div class="container">
        <p class="mb-0">&copy; 2024 Javier Serón. Todos los derechos reservados.</p>
        <p class="mb-0">Síguenos en:
            <a href="https://www.facebook.com/familialawal/" class="text-white ms-2" target="_blank"><i class="fab fa-facebook"></i></a> |
            <a href="https://www.tiktok.com/@maderaslawal" class="text-white ms-2" target="_blank"><i class="fab fa-tiktok"></i> </a> |
            <a href="https://www.instagram.com/maderaslawal/" class="text-white ms-2" target="_blank"><i class="fab fa-instagram"></i> </a>
        </p>
    </div>
</footer>