<ul class="dropdown-menu">
  <li class="dropend">
    <a class="dropdown-item" id="dropdownSubMenu" data-bs-toggle="dropdown" aria-expanded="false"
    [routerLink]="['/catalog']" (click)="sub('todo','todo')">
      Todos los Productos
    </a>
  </li>
  @for (category of getCategoryKeys(); track $index) {
    <li class="dropend">
      <a class="dropdown-item dropdown-toggle" id="dropdownSubMenu" data-bs-toggle="dropdown" aria-expanded="false"
      [routerLink]="['/catalog']" (click)="sub(category,'todo')">
        {{category}}
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownSubMenu">
        @for (subcategory of getSubcategoryKeys(category); track $index) {
          <li><a class="dropdown-item" [routerLink]="['/catalog']" (click)="sub(category,subcategory)">{{subcategory}}</a></li>
        }
      </ul>
    </li>
  }
</ul>
