<!-- Mostrar el loader si isLoading es true -->
<div *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  
  <!-- Mostrar los productos cuando isLoading es false -->
  <div *ngIf="!isLoading">
    <!-- El código que muestra los productos va aquí -->
    <div class="container">
        <div class="d-none d-md-block">
        <div class="row justify-content-center">
    
                @for (anuncio of anuncios; track $index) {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center">
                        <img src="{{anuncio.img}}" class="img-fluid rounded" role="button"
                        [routerLink]="['/catalog']" 
                        style="width: 100%; max-width: 350px; height: auto;" alt="...">
                    </div>
                }
            </div>
        </div> 
    <div class="d-block d-md-none">
        <div class="row flex-nowrap overflow-auto" style="white-space: nowrap;">
            @for (anuncio of anuncios; track $index) {
                <div class="col-6 d-inline-block" style="width: 50%; margin-right: -15px;">
                    <img src="{{anuncio.img}}" class="img-fluid rounded" role="button" 
                    [routerLink]="['/catalog']" alt="..." style="width: 100%; height: auto;">
                </div>
            }
        </div>
    </div>
      
        <!-- Carrusel visible solo en pantallas pequeñas -->
        <!--<div id="carouselExampleControls" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
            
            <div class="carousel-inner">
              @for (anuncio of anuncios; track $index) {
        
                <div class="carousel-item" [ngClass]="{'active': anuncio.id === 1}">
                  <img src={{anuncio.img}} class="img-fluid rounded mx-auto d-block" role="button"
                        [routerLink]="['/catalog']" 
                        style="width: 100%; max-width: 600px; height: auto;" alt="...">
                </div>
              }
        
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5);
              border-radius: 25%;"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5);
              border-radius: 25%;"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
    </div> -->
    </div>
  </div>
  
