    <!-- Mostrar el loader si isLoading es true -->
<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>

<!-- Mostrar los productos cuando isLoading es false -->
<div *ngIf="!isLoading">
  <!-- El código que muestra los productos va aquí -->
  <!-- Botón de WhatsApp -->
  <a href="https://web.whatsapp.com/send?phone=56967453739" class="whatsapp-button" target="_blank">
      <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    <a href="https://web.whatsapp.com/send?phone=56967453739" class="msg-button" target="_blank">
      ¿Necesitas ayuda?
    </a>
    <a href="https://wa.me/56967453739?text=Hola,%20necesito%20ayuda" class="whatsapp-button" target="_blank">
      <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    <a href="https://wa.me/56967453739?text=Hola,%20necesito%20ayuda" class="msg-button" target="_blank">
      ¿Necesitas ayuda?
    </a>
    
</div>

