    <!-- Mostrar el loader si isLoading es true -->
<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>

<!-- Mostrar los productos cuando isLoading es false -->
<div *ngIf="!isLoading">
  <div class="container " style="margin-top: 100px;">
    <p>Maderas Lawal es una empresa familiar pionera en la venta de madera dimensionada en el sector de Alerce y Puerto Montt.
      Con inicios en el año XXXX Maderas Lawal se ha perfeccionado en el rubro de la madera, contando con una gran variedad de 
      medidas y largos en pino insignie y en madera impregnada.
    </p>
    <p>Con los años ha sido capaz de integrarse verticalmente en el rubro para mantenerse competitiva en procesos como impregnación,
      elavoración y transformación de la materia prima. Además de ver nose nose nose las necesidades de los clientes en más de 100 productos
      en todo ámbito de la construcción, en categorias desde tableros y obra gruesa, hasta molduras y fijaciones.
    </p>

  </div>
  <div class="container d-flex justify-content-center my-4">
    <img src="" alt="Foto barraca por fuera" style="width: 1000px; height: auto;">
   </div>
   <div class="container d-flex justify-content-center">
     <p>Nos encontramos en la avenida principal de Alerce. Avenida Gabriela Mistral 967.</p>
   </div>
   <div class="container">
    <h1>Nuestro equipo.</h1>
  </div>
   <div class="container d-flex justify-content-center my-4">
    <img src="https://i.imgur.com/h5AifWE.jpeg" alt="" style="width: 1000px; height: auto;">
   </div>
   <div class="container d-flex justify-content-center">
    <p>Fuerza laboral en Ventas, Elaboración y atención al cliente.</p>
  </div>
  <div class="container">
    <h1>Nuestros Servicios</h1>
  </div>
   <div class="container d-flex justify-content-center my-4">
    <img src="https://i.imgur.com/J9Ztcdi.jpeg" alt="" style="width: 1000px; height: auto;">
   </div>
   <div class="container d-flex justify-content-center">
    <p>Repartos a toda la provincia.</p>
  </div>
  <div class="container d-flex justify-content-center my-4">
    <img src="" alt="Foto cepillando una viga" style="width: 1000px; height: auto;">
   </div>
   <div class="container d-flex justify-content-center">
    <p>Servicio Cepillado.</p>
  </div>
  <div class="container d-flex justify-content-center my-4">
    <img src="" alt="Foto Impregandora" style="width: 1000px; height: auto;">
   </div>
   <div class="container d-flex justify-content-center">
    <p>Servicio Impreganado.</p>
  </div>
  <div class="container d-flex justify-content-center">

    <div class="container">
      <h1>Misión</h1>
    </div>
    <div class="container">
      <h1>Visión</h1>
    </div>
    <div class="container">
      <h1>Valores</h1>
      <p>Innvovación.</p>
      <p>Priorizar la satisfacción del cliente.</p>
      <p>No se.</p>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <h1>Nuestras RRSS</h1>
  </div>













  <a href="https://web.whatsapp.com/send?phone=56967453739" class="whatsapp-button" target="_blank">
      <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    <a href="https://web.whatsapp.com/send?phone=56967453739" class="msg-button" target="_blank">
      ¿Necesitas ayuda?
    </a>
    <a href="https://wa.me/56967453739?text=Hola,%20necesito%20ayuda" class="whatsapp-button" target="_blank">
      <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    <a href="https://wa.me/56967453739?text=Hola,%20necesito%20ayuda" class="msg-button" target="_blank">
      ¿Necesitas ayuda?
    </a>
    
</div>

