<div style="margin-top: 65px;">
    <app-banner></app-banner>
  
  </div>
  
  <!-- Contenedor para Ofertas -->
  <div class="container my-5">
    <app-ofertas></app-ofertas>
  </div>
  
  <div class="d-none d-lg-block">

    <!-- Títulos y Descripción -->
    @for (category of getCategoryKeys(); track $index){
  
      <div class="d-flex justify-content-center">
        <h1 style="color: #2510a3;">{{category}}</h1>
      </div>
      @for (subcategory of getSubcategoryKeys(category); track $index){
  
        <div class="d-flex justify-content-center" style="margin-top: -15px;">
          <h4 class="text-center" id="{{subcategory}}" style="font-family: 'Times New Roman', Times, serif;">{{subcategory}}</h4>
        </div>
        <!-- Contenedor para Cards -->
        <div class="container my-4">
          <div class="row">
        @for (product of groupedProducts[category][subcategory]; track $index){
  
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card carta my-2">
                  <img src="{{product.imagen}}" class="card-img-top img" alt="...">
                  <div class="car-body m-2">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text descripcion">{{product.description}}</p>
                      <p class="card-text price">${{formatPrice(product.price)}}
        
                      </p>
                      <div class="d-flex justify-content-center">
                          <button class="btn btn-primary btn-custom-size mx-2" [routerLink]="['/product']" (click)="getProduct(product.name)">Ver producto</button>
                      </div>
                                 
                   </div>
              </div>
          </div>
        }
      </div>
      </div>
      }
    }
  </div>
  <div class="d-block d-lg-none">
    @for (category of getCategoryKeys(); track $index) {
        <div class="container my-4">
          <h1 class="d-flex justify-content-center" style="color: #2510a3;" id="{{category}}">{{category}}</h1>
          @for (subcategory of getSubcategoryKeys(category); track $index) {
                <h6 class="text-center" id="{{subcategory}}" style="font-family: 'Times New Roman', Times, serif;">{{subcategory}}</h6>
              <div class="row flex-nowrap overflow-auto" style="white-space: nowrap;">
              @for (product of groupedProducts[category][subcategory]; track $index) {
                  <!-- Hacemos las columnas responsivas -->
                  <div class="col-6 col-md-4 col-lg-3 d-inline-block" style="width: 45%; margin-right: -10px;">
                      <!-- Aseguramos que todas las tarjetas tengan la misma altura -->
                      <div class="card carta my-2 d-flex flex-column h-100">
                          <img src="{{product.imagen}}" class="card-img-top img" alt="...">
                          <!-- El cuerpo de la tarjeta se estira para ocupar el espacio restante -->
                          <div class="car-body m-2 d-flex flex-column justify-content-between">
                              <h5 class="card-title">{{product.name}}</h5>
                              <!-- Limitamos la altura del texto con una clase personalizada -->
                              <p class="card-text descripcion" style="max-height: 3rem; overflow: hidden;">
                                {{product.description}}
                              </p>
                              <p class="card-text priceMobile" *ngIf="getMaxMin(product.name, product.category, product.subcategory).min === getMaxMin(product.name, product.category, product.subcategory).max">
                                ${{formatPrice(getMaxMin(product.name, product.category, product.subcategory).min)}}
                              </p>
                              <p class="card-text priceMobile" *ngIf="getMaxMin(product.name, product.category, product.subcategory).min !== getMaxMin(product.name, product.category, product.subcategory).max">
                                ${{formatPrice(getMaxMin(product.name, product.category, product.subcategory).min)}} - ${{formatPrice(getMaxMin(product.name, product.category, product.subcategory).max)}}
                              </p>
                            </div>
                            <div class=" card-footer d-flex justify-content-center mt-auto">
                              <button class="btn btn-primary btn-custom-size mx-2" 
                              *ngIf="getMaxMin(product.name, product.category, product.subcategory).min == getMaxMin(product.name, product.category, product.subcategory).max" 
                              [routerLink]="['/product']" (click)="getProduct(product.name)">Ver producto</button>
                              <button class="btn btn-primary btn-custom-size mx-2" 
                              *ngIf="getMaxMin(product.name, product.category, product.subcategory).min !== getMaxMin(product.name, product.category, product.subcategory).max" 
                              [routerLink]="['/product']" (click)="getProduct(product.name)">Ver productos</button>
                            </div>
                      </div>
                  </div>
                }
              </div>
            
          }
        </div>
      
    }
  </div>
    
  
  
  <!-- Botón de WhatsApp -->
  <a href="https://web.whatsapp.com/send?phone=56967453739" class="whatsapp-button" target="_blank">
    <i class="fab fa-whatsapp fa-2x"></i>
  </a>
  <a href="https://web.whatsapp.com/send?phone=56967453739" class="msg-button" target="_blank">
    ¿Necesitas ayuda?
  </a>
  
  
  <!-- Contenedor para Mapa y About Us -->
  <div class="container rounded" style="margin-top: 50px; background-color: #2510a3;">
    <div class="row m-4">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 ">
        <app-aboutus></app-aboutus>
      </div>
      <div id="map" class="col-12 col-sm-12 col-md-12 col-lg-6 p-3 d-flex align-items-center justify-content-center container rounded">
        <app-map></app-map>
      </div>
    </div>
  </div>