<!-- Mostrar el loader si isLoading es true -->
<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>

<!-- Mostrar los productos cuando isLoading es false -->
<div *ngIf="!isLoading">

  <div id="carouselExampleInterval" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        @for (banner of banners; track $index) {
  
          <div class="carousel-item" [ngClass]="{'active': banner.id === 1}" data-bs-interval="3000">
            <img src={{banner.img}} class="d-block w-100 carousel-img" alt="...">
          </div>
        }
  
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    <div id="carouselMovil" class="carousel slide d-block d-md-none" data-bs-ride="carousel" style="margin-top: 75px;">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner col-12">
        @for (banner of banners; track $index) {
  
          <div class="carousel-item" [ngClass]="{'active': banner.id === 1}" data-bs-interval="3000">
            <img src={{banner.img}} class="d-block w-100 " style="width: 100%; max-width: 800px; height: auto;" alt="...">
          </div>
        }
  
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselMovil" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselMovil" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
