<div class="d-none d-lg-block">

    <div class="abrir-modal animacion fadeIn">
        <div class="modal modal-xl" style="display: block;" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Carro de Compras!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="closeCart()"></button>
                    </div>
                    <div class="modal-body">
                        @if (items.length > 0) {
                        <app-cart />
                        } @else {
                        <div class="alert alert-warning">No hay elementos en el carro!</div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="closeCart()">Seguir Comprando</button>
                        <button  class="btn btn-success" data-bs-dismiss="modal"  (click)="sendToWhatsApp()" (click)="closeCart()">Ver Disponibilidad</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-block d-lg-none">
    <div class="abrir-modal animacion fadeIn">
        <div class="modal modal-xl" style="display: block;" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Carro de Compras!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="closeCart()"></button>
                    </div>
                    <div class="modal-body">
                        @if (items.length > 0) {
                        <app-cart />
                        } @else {
                        <div class="alert alert-warning">No hay elementos en el carro!</div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="closeCart()">Seguir Comprando</button>
                        <button  class="btn btn-success" data-bs-dismiss="modal"  (click)="sendToWhatsAppMovil()" (click)="closeCart()">Ver Disponibilidad</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
